RESEND_API_KEY= # https://resend.com/api-keys
SUPABASE_DB_PASSWORD= # https://supabase.com/dashboard/project/tdlvsdvlanjsxobjnnnm
NEXT_PUBLIC_SUPABASE_URL= # https://supabase.com/dashboard/project/tdlvsdvlanjsxobjnnnm/settings/api
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY= # https://supabase.com/dashboard/project/tdlvsdvlanjsxobjnnnm/settings/api